
<%= stylesheet_link_tag 'application','https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css' %>
<%= stylesheet_link_tag 'application','https://cdn.datatables.net/buttons/1.0.3/css/buttons.dataTables.min.css' %>


<script type="text/javascript" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.0.3/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.0.3/js/buttons.print.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.0.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.0.3/js/buttons.flash.min.js"></script>

<div id="dialog-form" title="Save Search Conditions">
  <p class="validateTips"></p>
  <form>
    <fieldset>
      <input type="hidden" id="searchString" name="searchString" value="<%= @searchString %>"/>
      <label for="name">Name: </label>
      <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
      
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
 
<table id="example" class="table table-striped" cellspacing="0" width="100%">
        <thead>
        <tr>
        <th>ID</th>
		<th>Title</th>
		<th>Authors</th>
		<th>Abstract</th>
		<th>Publisher</th>
		<th>Publish Date</th>
		<th>DOI</th>
		<th>Pages</th>
		<th>Volume</th>
		<th>Issue</th>
		<th>Avg Rating</th>
		<th>SE Method</th>
		<th>SE Methodology</th>
		<th>Benefit/Outcome</th>
		<th>Result</th>
		<th>Participants</th>
		<th>Metric</th>
		<th>Context</th>
            </tr>
        </thead>
    </table>




  <script type="text/javascript">
  $(function() {
    var dialog, form,      
      searchString = $( "#searchString" ),
      name = $( "#name" ),     
      allFields = $( [] ).add( name ),
      tips = $( ".validateTips" );
      
 	function updateTips( t ) {
      tips
        .text( t )
        .addClass( "ui-state-highlight" );
      setTimeout(function() {
        tips.removeClass( "ui-state-highlight", 1500 );
      }, 500 );
    }
    
    function checkLength( o, n, min, max ) {
      if ( o.val().length > max || o.val().length < min ) {
        o.addClass( "ui-state-error" );
        updateTips( "Length of " + n + " must be between " +
          min + " and " + max + "." );
        return false;
      } else {
        return true;
      }
    }

    function saveSearchCond() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );
 
      valid = valid && checkLength( name, "Name", 3, 16 );
      
      if ( valid ) {
        //console.log("name: "+name.val()+"hidden: "+searchString.val()+", is valid, try ajax");
        var searchData = {
            search_name: name.val(),
            search_values:searchString.val()
        }
        
        $.ajax({
            url: '/save_search/save.json',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                //console.log("success: "+data.result);
                updateTips("New Search conditions saved successfully!");  
            },
            error: function(xhr) {
				alert("something is wrong");
			},
            data: searchData
        });
        setTimeout (function() {
            dialog.dialog( "close" );
        }, 1000);
         
      }
      return valid;
    }
 
    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      buttons: {
        "Save": saveSearchCond,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );

      }
    });
 
    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      addUser();
    });
 
$.fn.dataTable.ext.buttons.saveSearch = {
    text: 'Save Search Conditions',
    action: function ( e, dt, node, config ) {
        updateTips("Please input the name for current search coditions!"); 
        dialog.dialog( "open" );
	
    }
};


  });

  </script>


<script type="text/javascript">

$(document).ready(function() {

    var table = $('#example').DataTable( {
        "ajax": {
        	"url": '/result/getResults.json',
            "data": function ( d ) {
                d.searchConditions = $('#searchString').val();
            }
        },
        dom: 'Bfrtip',
    	buttons: [

	    {
                text: 'Select Table Columns',
		extend: 'colvis'
            },
            {
                extend: 'collection',
                text: 'Export Table Data',
                buttons: [
                    'excel',
                    'pdf',
                    'print'
                ]
            },
	    'saveSearch'
        ],
    	"columns": [
        { "data": "id" }, //0
        { "data": "title" },
	    { "data": "authors" },
	    { "data": "abstract" },
	    { "data": "publisher" },
	    { "data": "publish_date" }, //5
		{ "data": "doi" },
		{ "data": "pages" },
		{ "data": "volume" },
		{ "data": "issue" },
		{ "data": "avg_rating" }, //10
		{ "data": "se_method" },
		{ "data": "se_methodology" },
		{ "data": "benefit" },
		{ "data": "result" },
		{ "data": "participants" }, //15
		{ "data": "metric" },
			{ "data": "context" } //17
    	],

		"columnDefs": [
		            {
		                "targets": [ 3,4,6,7,8,9,13,,14,15,16,17 ],
		                "visible": false
		            }
		        ]


    } );
    
} );

</script>