
  <script type="text/javascript">
  $(function() {
    var dialog, form,      
      searchString = $( "#searchString" ),
      name = $( "#name" ),     
      allFields = $( [] ).add( name ),
      tips = $( ".validateTips" );
      
 	function updateTips( t ) {
      tips
        .text( t )
        .addClass( "ui-state-highlight" );
      setTimeout(function() {
        tips.removeClass( "ui-state-highlight", 1500 );
      }, 500 );
    }
    
    function checkLength( o, n, min, max ) {
      if ( o.val().length > max || o.val().length < min ) {
        o.addClass( "ui-state-error" );
        updateTips( "Length of " + n + " must be between " +
          min + " and " + max + "." );
        return false;
      } else {
        return true;
      }
    }
 
 
    function saveSearchCond() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );
 
      valid = valid && checkLength( name, "Name", 3, 16 );
      
      if ( valid ) {
        //console.log("name: "+name.val()+"hidden: "+searchString.val()+", is valid, try ajax");
        var searchData = {
            search_name: name.val(),
            search_values:searchString.val()
        }
        
        $.ajax({
            url: '/save_search/save.json',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                console.log("success: "+data.result);
                updateTips("New Search conditions saved successfully!");  
            },
            data: searchData
        });
        
        dialog.dialog( "close" ); 
      }
      return valid;
    }
 
    dialog = $( "#dialog-form" ).dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      buttons: {
        "Save": saveSearchCond,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        form[ 0 ].reset();
        allFields.removeClass( "ui-state-error" );
      }
    });
 
    form = dialog.find( "form" ).on( "submit", function( event ) {
      event.preventDefault();
      addUser();
    });
 
    $( "#openDiag" ).button().on( "click", function() {    	
    	updateTips("All form fields are required!"); 
        dialog.dialog( "open" );
    });
  });
  </script>



<div id="dialog-form" title="Save Search Conditions">
  <p class="validateTips"></p>
  <form>
    <fieldset>
    	<input type="hidden" id="searchString" value="eyJhdXRoZW50aWNpdHlfdG9rZW4iOiJyRlZMSThmaEJJZFc4YjNqRk9zN1NFS0ovZkpmb3ZBOUVIWkdDRXJEc3pjUDhNN05KYjVjSllTQkVsaVFhay9Nczc0UnVsZmtBR2RiU3pBeVVzYUhsZz09Iiwic2VsZWN0Q29ubmVjdG9yWCI6WyJBTkQiXSwic2VsZWN0RmllbGRzIjpbInRpdGxlIl0sInNlbGVjdE9wZXJhdG9ycyI6WyJjb250YWlucyJdLCJzZWxlY3RGaWVsZFZhbHVlcyI6WyJVc2VyIl0sImNvbnRyb2xsZXIiOiJyZXN1bHQiLCJhY3Rpb24iOiJpbmRleCJ9" />
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all">
      
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
  </form>
</div>
 
 

<button id="openDiag">Save Search Conditions</button>
 
 
