<h1>Search#home</h1>
<p>Find me in app/views/search/home.html.erb</p>


<script type="text/javascript">
	$(document).ready(function(){
		
		$.ajax({
			url: '/search_fields/list.json',
			data: '',        
			type: 'get',
			dataType: 'json',
			contentType: 'application/json;charset=utf-8',
			cache: false,
			success: function(data, status) {
				$(data.searchFields).each(function(){ 

					var option = $("<option>"+this.fieldName+"</option>");
					option.val(this.fieldID);
					option.appendTo($("#selectPara"));

				}); 

			},
			error: function(xhr) {
                //if some exceptions happen, please have a check at xhr.responseText
            }
        });

		$("#selectTable").find("tr:first").find("td:first").find("select:first").attr("style","display:none");

	});
</script>
<script type="text/javascript">

	function deleteTr(obj) {

		if ($("#selectTable tr").length>1) {
			$(obj).closest('tr').remove();

			$("#selectTable").find("tr:first").find("td:first").find("select:first").attr("style","display:none");

		};
		if ($("#selectTable tr").length ===1) {
			$("#removeButton").attr("style","display:none");

			$("#selectTable").find("tr:first").find("td:first").find("select:first").attr("style","display:none");

		};

	};

	function addSelectResult(obj){

		if($("#selectTable tr").length ===1){
			$("#removeButton").removeAttr("style");
			$("#selectTable").find("tr:first").find("td:first").find("select:first").removeAttr("style");
			console.log($(obj).parent().html());
			var addTr = $("#selectTr").clone(true); 
			addTr.find("input:first").val("");
			addTr.appendTo($("#selectTable"));
			$("#selectTable").find("tr:first").find("td:first").find("select:first").attr("style","display:none");

		}else{
			$("#removeButton").removeAttr("style");
			$("#selectTable").find("tr:first").find("td:first").find("select:first").removeAttr("style");
			var addTr = $("#selectTr").clone(true); 
			addTr.find("input:first").val("");
			addTr.appendTo($("#selectTable"));
			$(obj).parent().find("select:first").removeAttr("style");
			$("#selectTable").find("tr:first").find("td:first").find("select:first").attr("style","display:none");


		}

	};


	function forDatePicker(obj){

		var textForId = $(obj).find("option:selected").text();

		if(textForId ==="Publication Date"){

			$(obj).next().next().attr("id","datepickerStart");
			$( "#datepickerStart" ).datepicker();

		}else{
			$("#datepickerStart").datepicker("destroy");
			$( "#datepickerStart" ).attr("id","");
		}


		if(textForId ==="Authors"){

			$(obj).next().next().attr("title","Authors: auther;auther;auther...");
		}else if(textForId !=="Average Rating"){
			$(obj).next().next().attr("title","");
		}

		if(textForId ==="Average Rating"){

			$(obj).next().next().attr("title","1, 2, 3, 4, 5");
		}else if(textForId !=="Authors"){
			$(obj).next().next().attr("title","");
		}

	};


	$(function() {
		$(".hintForUser").tooltip();
	});

</script>

<style>
	label {
		display: inline-block;
		width: 5em;
	}
</style>

<form name="searchForm" action="/result/index">
	
	<table border="1px" width="80%" id="selectTable">
		<tr id ="selectTr">
			<td>
				<select id ="selectParaCon" name="selectConnectorX" >
					<option value="And">And</option>
					<option value="Or">Or</option>
				</select>
			</td>
			<td>

				<select id ="selectPara" name="selectFields" onchange="javascript:forDatePicker(this)">
				</select>

				<select name="selectOperators">
					<option value="contains">Contains</option>
					<option value="biggerThan">Bigger Than</option>
					<option value="smallerThan">Smaller Than</option>
					<option value="equals">Equals</option>
				</select>			


				<input type="input" name="selectFieldValues" valueï¼"" title ="" id ="" class ="hintForUser" /> 
				<input type="button" value="x" onclick="javascript:deleteTr(this)" id ="removeButton" style ="display:none"; /> 
				<input type = "button" value="+" onclick="javascript:addSelectResult(this)" id ="addSelect" />  
				

				<br>
				
			</td>      
		</tr>   
	</table>
	<div>
		<input type="submit" value="Search" />
	</div>
</form>

