<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<table width="80%">
	<tr>
		<td>Latest Highest Rating Articles</td>
		<td>Latest Submitted Articles</td>
	</tr>
	<tr>
		<td><li>1, article 1</li><li>1, article 1</li><li>1, article 1</li><li>1, article 1</li></td>
		<td><li>1, article 1</li><li>1, article 1</li><li>1, article 1</li><li>1, article 1</li></td>
	</tr>
		<tr>
		<td>Get the data from <b>/welcome/listHighestRatingArticles</b> REST service</td>
		<td>Get the data from <b>/welcome/listLatestArticles</b> REST service</td>
	</tr>
</table>
