<h1 class="text-center">Welcome to SERLER</h1>

<table width="80%" class="table table-striped">

<script type="text/javascript">
	$(document).ready(function(){
		var aaa = $('a:contains("Home")').parent();
    	aaa.addClass('disableTopButton');
   });
</script>    	

<table width="80%" class="table table-striped">
 
	<tr>
		<td><h3>Latest Highest Rating Articles</h3></td>
		<td><h3>Latest Submitted Articles</h3></td>
	</tr>
	<tr>
		<td> LHR aritcle title</td>
		<td> Latest aritcle title</td></tr>
	
	<tr>
		<td> LHR aritcle title</td>
		<td> Latest aritcle title</td></tr>
	
	<tr>
		<td> LHR aritcle title</td>
		<td> Latest aritcle title</td></tr>
	
	<tr>
		<td> LHR aritcle title</td>
		<td> Latest aritcle title</td></tr>
	
	<tr>
		<td> LHR aritcle title</td>
		<td> Latest aritcle title</td></tr>
	
</table>
