<div class="container c_padding">
<div class="col-md-6 col-xs-12 padding0">
<div class="">
 <span class="glyphicon glyphicon-thumbs-up" style="font-size:45px"></span>
 <h5>Latest Highest Rating Articles</h5>
</div>
<div class="col-md-10 col-xs-12 padding0 mt55">
<ul class="list-unstyled">
<li>
<span class="glyphicon glyphicon-paperclip" style="color:#ccc;"></span>
<p class="text-uppercase">MORBI MALESUADA ODIO VELIT, ET IACULIS LOREM RHONCUS ID</p>
<span>July 12th,2015</span>
</li>
<li>
<span class="glyphicon glyphicon-paperclip" style="color:#ccc;"></span>
<p class="text-uppercase">MORBI MALESUADA ODIO VELIT, ET IACULIS LOREM RHONCUS ID VELIT ET IACULIS LOREM</p>
<span>July 12th,2015</span>
</li>
<li>
<span class="glyphicon glyphicon-paperclip" style="color:#ccc;"></span>
<p class="text-uppercase">Donec quam felis, ultricies nec, ET IACULIS</p>
<span>July 12th,2015</span>
</li>
</ul>
</div>
</div>
<div class="col-md-6 col-xs-12 padding0">
<div class="">
 <span class="glyphicon glyphicon-volume-down" style="font-size:45px"></span>
 <h5>Latest Articles</h5>
</div>
<div class="col-md-10 col-xs-12 padding0  mt55">
<ul class="list-unstyled">
<li>
<span class="glyphicon glyphicon-paperclip" style="color:#ccc;"></span>
<p class="text-uppercase">Donec quam felis, ultricies nec, ET IACULIS</p>
<span>July 12th,2015</span>
</li>
<li>
<span class="glyphicon glyphicon-paperclip" style="color:#ccc;"></span>
<p class="text-uppercase">MORBI MALESUADA ODIO VELIT, ET IACULIS LOREM RHONCUS ID</p>
<span>July 12th,2015</span>
</li>
<li>
<span class="glyphicon glyphicon-paperclip" style="color:#ccc;"></span>
<p class="text-uppercase">MORBI MALESUADA ODIO VELIT, ET IACULIS LOREM RHONCUS ID VELIT ET IACULIS LOREM</p>
<span>July 12th,2015</span>
</li>
</ul>
</div>
</div>
</div>