
<%= stylesheet_link_tag 'application','https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css' %>
<%= stylesheet_link_tag 'application','https://cdn.datatables.net/buttons/1.0.3/css/buttons.dataTables.min.css' %>


<script type="text/javascript" src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.0.3/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.0.3/js/buttons.print.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.0.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/buttons/1.0.3/js/buttons.flash.min.js"></script>




<script type="text/javascript">

$(document).ready(function() {
	var aaa = $('a:contains("All Users")');
    aaa.addClass('disableTopButton');

    $('#example').DataTable( {
        "ajax": "/account/listUsersJson.json",
        dom: 'Bfrtip',
    buttons: [
        'colvis','copy', 'excel', 'pdf', 'print'
    ],
        "columns": [
            { "data": "id" },
            { "data": "email" },
	    { "data": "role" },
	    { "data": "sign_in_count" },
	    { "data": "created_at" },
	    { "data": "last_sign_in_at" }
        ]


    } );
} );

</script>

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email Address</th>
		<th>Role</th>
		<th>Sign In Count</th>
		<th>Registration Date</th>
		<th>Last Sign in</th>
            </tr>
        </thead>
 

    </table>