</div>
<div class="bottomdb">
<div class="container">
<div class="col-md-9 col-xs-12 padding0">
<p style="color:#fff;">About SERLER</p>
<p style="color:#fff;">Copyright @ 2015 AUT</p>
</div>
</div>
</div>